* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    flex-direction: column;
}

img.server-start-lording-gif {
    width: 172px;
    margin: -53px 0 -42px 0;
}

.loading-page-text {
    font-size: 17px;
    color: #333;
}

.dragable {
    -webkit-app-region: drag;
}

.title-bar {
    width: 100%;
    height: 31px;
    background-color: #f0f0f0;
    -webkit-app-region: drag;
}


.body-container {
    display: flex;
    justify-content: center;
    width: 60%; 
    /* width: 100%; */
    align-items: center;
    height: calc(100vh-31px);
    background-color: #fff;
}

#bodeContainer {
    transition: width 0.3s ease-in-out;
}

.container {
    position: relative;
    display: flex;
    text-align: center;
    width: 100%;
    height: calc(100vh - 31px);
    flex-direction: column;
    justify-content: center;
}

.profile-icon {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}



h3 {
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

input {
    width: 250px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
    text-align: center;
    outline: none;
}

button {
    display: block;
    margin: 15px auto;
    padding: 8px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background: #333;
}

.register-page-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80px;
    justify-content: space-around;
}

.page { display: none; }
.active { display: block; }


.user-button-section {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    top: 60px;
    right: 60px;
}

div#user-button {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;
    position: relative;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

div#user-button:hover {
    background-color: #f0f0f0;
}

.user-button-dropbox {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 15px;
    top: 0.5rem;
    padding: 3px 15px 0px 0px;
}

.user-button-dropbox-item {
    padding:5px;
    border-radius: 15px;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
}

.user-button-dropbox-item:hover {
    padding:5px;
    border-radius: 15px;
    background-color: #f0f0f0;
}

.tags-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}

.tags-title {
    font-size: 18px;
    margin: 0 0 -24px 0px;
}

.tag {
    display: flex;
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
    flex-direction: row-reverse;
}

.tag:hover {
    background: #f0f0f0;
}

font.collection-tag-title {
    position: relative;
    transition: left 0.5s;
}

svg.tag-icon-md {
    display: block;
    position: absolute;
    background-color: #f0f0f000;
    margin: -1px -6px -8px -14px;
    backdrop-filter: blur(2px);
    box-shadow: inset -6px 0px 9px 11px #f0f0f0, -7px 0px 8px 0px #f0f0f0;
    border-radius: 5px;
    transition: display 0.3s ease-in-out;
}

.collection-dropbox {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 21px -22px 0 0;
}

.add-tag {
    padding: 8px 12px;
    border: 1px solid gray;
    border-radius: 50%;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.add-tag:hover {
    background: #f0f0f0;
}

.file-upload-box {
    width: 100%;
    height: 120px;
    border: 2px solid #ccc;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    margin-bottom: 9px;
    position: relative;
}

.file-upload-box:hover {
    background: #f0f0f0;
}

.plus-icon {
    width: 40px;
    height: 40px;
    border: 2px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: gray;
    margin-bottom: 5px;
}

.document-upload-container {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    justify-items: stretch;
    width: initial;
    flex-direction: column;
}
.fileupbox {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 15px;
}

.file-text {
    font-size: 14px;
    color: #555;
    height: 16px;
    padding: 0px 11px;
    overflow-y: auto;
}

.file-text::-webkit-scrollbar {
    width: 4px;
}

.file-format {
    font-size: 12px;
    color: #888;
    position: relative;
    bottom: 5px;
    text-align: end;
}

.label {
    font-size: 23px;
    color: #333;
    margin-bottom: 5px;
    text-align: left
}

.input-box {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin-bottom: -1px;
    outline: none;
    font-size: 15px;
    text-align: left;
}

.collection-name-section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

img#collectionAvailabilityImg {
    width: 22px;
    position: absolute;
    right: 5px;
    bottom: 59px;
}


.upload-button {
    display: flex;
    width: 85px;
    height: 32px;
    margin: 0;
    margin-top: 19px;
    position: relative;
    padding: 8px 20px;
    background: black;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;
    justify-content: center;
}

.upload-button:hover {
    background: #333;
}

img.collection-upload-lording-gif {
    width: 26px;
}

.suggestions {
    list-style: none;
    padding: 0;
    margin-left: 16px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    max-width: 200px;
    position: relative;
    background: white;
    border-radius: 0px 0px 15px 15px;
}

.suggestions li {
    padding: 5px;
    cursor: pointer;
}

.suggestions li:hover {
    background: #f0f0f0;
    border-radius: 15px;
}

.sideContainer {
    position: absolute;
    left: 0px;
    height: calc(100vh - 31px);
    width: 20%;
    min-width: 3.75rem;
}

#sideContainer {
    transition: width 0.3s ease-in-out;
}

.sidebar {
    display: flex;
    /* position: relative; */
    height: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
    border-right:1px solid #ccc;
}

.file-list {
    height: 75vh;
    overflow-y: auto;
    overflow-x: clip;
}

.file-list::-webkit-scrollbar {
    width: 4px;
}

.file-list::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 2px;
}

.back-btn-sec {
    height: 62px;
    margin-bottom: 19px;
    padding-top: 26px;
}

img.side-bar-hide-button-img {
    height: 100%;
    margin-left: 12px;
    opacity: 60%;
}

.show-btn {
    margin-top: 31px;
}



li.file-item {
    display: flex;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 5px 3px 5px 4px;
    padding: 8px 10px 8px 10px;
    flex-direction: row;
    align-items: center;
    min-width: 3.2rem;
}

img.file-extention-img {
    width: 22px;
    margin-right: 8px;
    margin-left: 4px;
}

.file-title {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    opacity: 1;
    visibility: visible;
    width: 7rem;
    margin-right: 0.2rem;
    
    white-space: nowrap;         /* Prevent text from wrapping */
    overflow: hidden;            /* Hide overflowed text */
    text-overflow: ellipsis;     /* Add ellipsis (...) */
    display: inline-block;       /* Ensure width is respected */
}

span.add-tag-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    display: none;
}

button.chat-section-document-add-btn {
    background: white;
    color: #4e4e4e;
    border: 1px solid #4e4e4e;
}

.main-content {
    display: flex;
    position: fixed;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 96%;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.chatHeader {
    width: 100%;
    display: flex;
    font-size: 30px;
    border-top-width: 0px;
    margin-bottom: 13px;
    padding-top: 26px;
    flex-direction: row;
    align-items: center;
}

.back-button {
    display: flex;
    width: 35px;
    height: 100%;
    padding: 0px;
    margin-left: 8px;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    align-content: center;
}

img.back-button-img {
    width: 100%;
    opacity: 60%;
}

div#chatTitle {
    width: 74%;
    text-align: left;
    padding: 0 0 0 13%;
    /* margin: 0 92px 0 20px; */
}

.content-box {
    height: 77%;
    border: 1px solid #ccc;
    border-radius: 15px;
    margin: 5px;
    text-align: left;
    width: 64%;
    min-width: 32rem;
}

.result-show {
    padding: 15px;
    font-family: ui-sans-serif, -apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
    text-align: justify;
    font-size: 13px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: clip;
}

.result-show::-webkit-scrollbar {
    width: 4px;
}

@keyframes blink {
    0% {
        opacity: 1;  /* Fully visible */
    }
    50% {
        opacity: 0.3;  /* Dimmed */
    }
    100% {
        opacity: 1;  /* Fully visible again */
    }
}

.ai-thinking {
    width: 27px;
    animation: blink 2s ease-in-out infinite; /* 2s for duration, infinite for continuous loop */
}

.messageBox {
    display: flex;
    position: relative;
    bottom: 0;
    width: 64%;
    padding-bottom: 25px;
    padding-top: 0px;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}

input#messageInput {
    width: 92%;
    text-align: left;
    pointer-events: all !important;
    opacity: 1 !important;
}

.chat-send-button {
    display: flex;
    width: 37px;
    height: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    cursor: pointer;
}

img.send-button {
    width: 87%;
    opacity: 60%;
}

.user-setting-section, .collection-document-update-section,
.user-password-Authontication-section, .user-name-edit-section,
.user-apikey-edit-section, .user-password-edit-section, .collection-delete-section {
    display: flex;
    position: absolute;
    width: 100%;
    height: calc(100% - 31px);
    bottom: 0;
    backdrop-filter: blur(20px);
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.setting-section-container, .user-password-Authontication-section-container,
.user-name-edit-section-container, .user-apikey-edit-section-container,
.user-password-edit-section-container, .collection-delete-section-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 35px;
    padding: 70px 12px;
    background-color: white;
}

.collection-document-upload-section-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 35px;
    padding: 70px 12px;
    background-color: white;
    width: 60%;
} 

.collection-document-upload-container {
    display: flex;
    position: relative;
    align-content: center;
    justify-content: center;
    justify-items: stretch;
    width: 100%;
    flex-direction: column;
}

.settings-tabs-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 604px;
}

.settings-tabs {
    display: flex;
    width: 37rem;
    justify-content: center;
}

.settings-tab {
    margin: 0px 13px;
    border-bottom: 2px solid #cccccc00;
    transition: border-bottom 0.1s ease;
    cursor: pointer;
}

.settings-tab.active {
    border-bottom: 2px solid #ccc;
}

.setting-container.active {
    display: flex;
}

.setting-container {
    display: none;
    flex-direction: column;
    margin-top: 29px;
}

.model-switch-container {
    position: relative;
    display: flex;
    width: 35rem;
    height: 23.1rem;
    padding: 26px 0px;
    flex-direction: column;
}

.model-switch-section {
    width: fit-content;
    padding: 8px 0px;
}

font.setting-detaile-title {
    margin-left: 6px;
}

.model-switch-options {
    display: flex;
    margin: 8px 28px;
    font-size: 13px;
    flex-direction: row;
}

.switch-container {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.switch-head {
    position: absolute;
    background-color: #cccccc78;
    height: 2rem;
    border: 1px solid #cccccc00;
    border-radius: 14px;
    transition: margin-left 0.2s ease-in-out, width 0.2s ease-in-out;
}

.switch-head.inactive {
    margin-left: 0rem;
    width: 5.6rem;
}
.switch-head.active {
    margin-left: 5.3rem;
    width: 5rem;
}

.switch-head.embid.inactive {
    width: 6.3rem;
    margin-left: 0rem;
}

.switch-head.embid.active {
    margin-left: 6.2rem;
    width: 7.1rem;
}

.switch-lable {
    margin: 8.3px 17px;
    cursor: pointer;
}

.setting-user-pic {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 160px;
    height: 160px;
    align-items: center;
    border: 4px solid #ccc;
    border-radius: 100%;
    font-size: 65px;
    color: #4e4e4e;
}

.Authontication-password-container, .name-edit-container, .apikey-edit-container,
.password-edit-container, .collection-delete-btn-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    padding-right: 42px;
}

.setting-user-all-details-container, .Authontication-password-container,
.name-edit-container, .apikey-edit-container, .password-edit-container, .collection-delete-btn-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 35rem;
    margin-top: 10px;
}

.collection-delete-btn-container {
    width: 20rem;
}

.collection-delete-btn-action-container {
    display: flex;
    gap: 26px;
}

.file-icon-md {
    position: relative;
    background-color: #f0f0f000;
    margin: -8px 0px -8px 0px;
    backdrop-filter: blur(2px);
    box-shadow: inset -6px 0px 9px 11px #f0f0f0, -7px 0px 8px 0px #f0f0f0;
    border-radius: 5px;
    right: 0px;
    transition: display 0.3s ease-in-out;
}

.file-dropbox {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 15px;
    right: 9px;
    margin: 0px 0px -53px 0px;
}

.setting-user-one-detail-section {
    display: flex;
    flex-direction: column;
}

font.setting-detaile-title {
    margin-left: 6px;
}

.user-name-edit-title, .apikey-edit-title, .password-edit-title{
    margin-bottom: 10px;
    font-size: 20px;
}

.name-edit-input-container, .apikey-edit-input-container, .password-edit-input-container{
    display: flex;
    justify-content: center;
}

.setting-user-detail-container, .Authontication-password-input-container, .name-edit-input-container,
.apikey-edit-input-container, .password-edit-input-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    /* justify-content: center; */
}

.apikey-edit-models-title, .password-edit-input-title {
    width: -webkit-fill-available;
    margin-left: 65px;
    font-size: 13px;
}



.setting-defult-user-name, .setting-defult-user-apikey, .Authontication-password-input, .name-edit-input,
.apikey-edit-input, .password-edit-input  {
    display: flex;
    flex-direction: row;
    width: 25rem;
    margin: 8px 0 8px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.setting-user-details-edit-button {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 100%;
    margin-left: 19px;
    width: 38px;
    height: 38px;
    transition: background-color 0.3s ease-in-out;
}

.setting-user-details-edit-button:hover {
    background-color: #ccc;
}

img.edit-button-img {
    width: 26px;
    cursor: pointer;
}



.setting-user-password-edit {
    display: flex;
    padding: 8px;
    margin: 8px 0 8px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 12rem;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.3s ease-in-out;
}

.setting-user-password-edit:hover {
    background-color: #ccc;
}

#progressContainer {
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
}
#progressBar {
    width: 0%;
    height: 30px;
    background: green;
    color: white;
    text-align: center;
    line-height: 30px;
}

.hide {display: none; }
.show {display: block; }